@model IEnumerable<Shopping_cart.Models.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-6">
                    <div class="single-product">
    <div class="single-product">
        <div class="product-img">
            <img class="img-fluid w-100" src="../@item.ImagePath" alt="" />
            <div class="p_icon">
                <a href="#">
                    <i class="ti-eye"></i>
                </a>
                <a href="#">
                    <i class="ti-heart"></i>
                </a>
                <a href="#">
                    <i class="ti-shopping-cart"></i>
                </a>



            </div>
        </div>
    </div>
    </div>
    </div>
}

            

